#project-container{
  display: flex;
  padding-bottom: 5%;
  flex-wrap: wrap;
}
#pro-card{
  width: 350px;
}
#pro-img-card{
  width: 350px;
  background-color: yellowgreen;
}
#pro-img{
  object-fit: contain;
  height: 100%;
}